.promocion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: crimson;
    height: 600px;
    width: 90%;
    margin: auto;
    border-radius: 20px;
}

.centrar{
    margin-top: 200px;
}

.pizza-promo{
    width: 278px;
    border-radius: 20px;
}

.promocion-txt{
    margin: 0 auto;
}

.promocion-txt h3{
    font-size: 6em;
    width: 200px;
    color: aliceblue;
}

.promocion-txt p{
    font-size: 1.2em;
    color: aliceblue;
    font-weight: 500;
}

.centrar h2{
    text-align: center;
    margin-bottom: 50px;
    font-size: 2.5em;
}