.promocion{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 200px;
    background-color: crimson;
    height: 600px;
}

.promo-img{
    width: 450px;
}

.promo2{
    position: absolute;
    bottom: 100px;
}

.promo3{
    position: relative;
    bottom: 250px;
}

.promocion-txt h3{
    font-size: 6em;
    width: 200px;
    color: aliceblue;
}

.promocion-txt p{
    font-size: 1.2em;
    color: aliceblue;
    font-weight: 500;
}