/* Establece reglas para todos los elementos en la página */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Establece estilo para el cuerpo (body) de la página */
body{
    font-family: grandstander;
    background-color: antiquewhite;
}
/* Establece estilos para el encabezado (header) de la página */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(21, 38, 69);
}
/* Estilos para la clase .titulo */
.titulo{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}
/* Estilos para las imágenes dentro de titulo */

.titulo figure img{
    width: 90px;
    border-radius: 50%;
    box-shadow: 3px 3px 5px rgba(0 0 0 / .5);
}
/* Estilos para el encabezado (h1) dentro de .titulo */

.titulo h1{
    font-size: 3.2em;
    margin-left: 20px;
    color: aliceblue;
}
/* Estilos para la clase .sesion */
.sesion{
    width: 15%;
}

.sign-in{
    background-color: rgba(24, 39, 68, .7);
    border: 3px solid orange;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 500;
    color: aliceblue;
    box-shadow: 1px 3px 5px rgba(0 0 0 / .5);

}




.nav-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    padding: 10px;
}

.search-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.search{
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.barra-search{
    width: 30px;
    margin-left: 10px; 
}


.barra{
    width: 600px;
    padding: 10px 5px;
    border-radius: 10px;
    border: 3px solid crimson;
    background-color: rgb(255, 190, 70);

}

.carrito-img{
    width: 50px;
}

a{
    text-decoration: none;
    color: aliceblue;
}


.icon-pizza {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
}

.icon-pizza img {
    width: 50px; 
    height: 50px;
    background-color: rgb(227, 148, 11);
    border-radius: 50%;
    border: 1px solid crimson;
    padding: 5px;
}

.part1,
.part2 {
    display: flex;
    align-items: center;
}

.part1 a,
.part2 a {
    text-decoration: none;
    color: aliceblue;
    margin: 0 15px; 
    padding: 5px 10px;
}

.hero-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.hero-informacion{
    text-align: center;
    width: 40%;
}


.hero-informacion h2{
    font-size: 4em;
}

b{
    color: orange;
}

.color-txt{
    color: crimson;
}

.hero-informacion p{
    margin-top: 30px;
    font-size: 1.5em;
}


.button1, .button2{
    margin-top: 30px;
    padding: 10px 35px;
    border-radius: 7px;
    border: 1px solid orange;
    font-size: 16px;
    color: aliceblue;
    font-weight: 600;
}

.button1{
    background-color: orange;
}

.button2{
    margin-left: 50px;
    background-color: orangered;
}

.steve{
    width: 400px;
}
